{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

        {# <p>{{ dump(index) }}</p> #}

        {% for post in index %}
                <li><h1>{{ post.title }}</h1></li>
                <li><p>{{ post.content }}</p></li>
                <li>{{ post.category }}</li>
                <li>{{ post.tag}}</li>
                <li><p>{{ post.date|date("d/m/Y") }}</p></li>
                <li><a href="{{ path('postform_delete', { id: post.id })}}">supprimer</a></li>
        {% endfor %}
        
{% endblock %}
