{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

        {# <p>{{ dump(posts) }}</p> #}

        {% for post in posts %}
                <li><h1>{{ post.title }}</h1></li>
                <li><p>{{ post.content }}</p></li>
                        {{ dump(post.category) }}
                        {# {% for category in post.category %}
                                <li><p>{{ category }}</p></li>
                        {% endfor %} #}
                <li><p>{{ post.date|date("d/m/Y")  }}</p></li>
        {% endfor %}
        
{% endblock %}
